absl-py
adversarial-robustness-toolbox
aif360
aiohappyeyeballs
aiohttp
aiohttp-retry
aiosignal
alabaster
alembic
altair
amqp
annotated-doc
annotated-types
antlr4-python3-runtime
anyio
appdirs
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astunparse
async-lru
asyncssh
atpublic
attrs
babel
beautifulsoup4
billiard
BlackBoxAuditing
bleach
blinker
blis
cachetools
cairocffi
catalogue
celery
certifi
cffi
charset-normalizer
clarabel
click
click-didyoumean
click-plugins
click-repl
cloudpathlib
cloudpickle
colorama
comm
confection
configobj
contourpy
coverage
cryptography
cvxpy
cycler
cymem
databricks-cli
databricks-sdk
debugpy
decorator
defusedxml
deprecation
dictdiffer
diskcache
distro
docker
docutils
dpath
dulwich
dvc
dvc-data
dvc-http
dvc-objects
dvc-render
dvc-studio-client
dvc-task
dynaconf
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
entrypoints
evidently
exceptiongroup
executing
fairlearn
Faker
fastapi
fastapi-restful
fastjsonschema
filelock
Flask
flask-cors
flatbuffers
flatten-dict
flufl.lock
fonttools
fqdn
frozenlist
fsspec
funcy
gast
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-genai
google-pasta
googleapis-common-protos
grandalf
graphene
graphql-core
graphql-relay
greenlet
grpcio
grpcio-status
gto
h11
h5py
httpcore
httplib2
httptools
httpx
huey
hydra-core
idna
igraph
ImageIO
imagesize
importlib_metadata
inFairness
iniconfig
ipykernel
ipympl
ipython
ipython_pygments_lexers
ipywidgets
isoduration
iterative-telemetry
itsdangerous
jedi
Jinja2
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
keras
kiwisolver
kombu
langcodes
lark
lazy_loader
libclang
lightgbm
lime
litestar
litestar-htmx
lxml
Mako
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
ml_dtypes
mlflow
mlflow-skinny
mlflow-tracing
mlxtend
mpmath
msgspec
multidict
multipart
murmurhash
mypy_extensions
namex
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numpy
oauthlib
omegaconf
opentelemetry-api
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opt_einsum
optree
orjson
osqp
packaging
pandas
pandocfilters
parso
pathspec
patsy
pillow
platformdirs
plotly
pluggy
polyfactory
POT
preshed
prometheus_client
prompt_toolkit
propcache
proto-plus
protobuf
psutil
pure_eval
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydeck
pydot
pygit2
Pygments
pygtrie
PyJWT
pyparsing
pytest
pytest-cov
python-dateutil
python-dotenv
python-json-logger
python-multipart
pytz
PyYAML
pyzmq
querystring-parser
referencing
regex
requests
rfc3339-validator
rfc3986-validator
rfc3987-syntax
rich
rich-click
roman-numerals
roman-numerals-py
rpds-py
rsa
ruamel.yaml
ruamel.yaml.clib
scikit-image
scikit-learn
scipy
scmrepo
scs
seaborn
semver
Send2Trash
setuptools
shellingham
shortuuid
shtab
six
skorch
smart-open
smmap
sniffio
snowballstemmer
soupsieve
spacy
spacy-legacy
spacy-loggers
Sphinx
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
SQLAlchemy
sqlparse
sqltrie
srsly
stack-data
starlette
statsmodels
streamlit
sympy
tabulate
tenacity
tensorboard
tensorboard-data-server
tensorflow
termcolor
terminado
texttable
thinc
threadpoolctl
tifffile
tinycss2
toml
tomlkit
torch
tornado
tqdm
traitlets
typer
typing-inspect
typing-inspection
typing_extensions
tzdata
tzlocal
ujson
uri-template
uritemplate
urllib3
uuid6
uvicorn
vine
voluptuous
waitress
wasabi
watchdog
watchfiles
wcwidth
weasel
webcolors
webencodings
websocket-client
websockets
Werkzeug
wheel
widgetsnbextension
wrapt
xgboost
yarl
zc.lockfile
zipp
