absl-py==2.3.1
adversarial-robustness-toolbox==1.20.1
aif360==0.6.1
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiohttp-retry==2.9.1
aiosignal==1.4.0
alabaster==0.7.13
alembic==1.17.2
altair==6.0.0
amqp==5.3.1
annotated-doc==0.0.4
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.12.0
appdirs==1.4.4
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
asttokens==3.0.1
astunparse==1.6.3
async-lru==2.0.5
asyncssh==2.22.0
atpublic==7.0.0
attrs==25.4.0
babel==2.17.0
beautifulsoup4==4.14.3
billiard==4.2.4
BlackBoxAuditing==0.1.54
bleach==6.3.0
blinker==1.9.0
blis==0.7.11
cachetools==6.2.4
cairocffi==1.7.1
catalogue==2.0.10
celery==5.6.0
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
clarabel==0.11.1
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cloudpathlib==0.16.0
cloudpickle==3.1.2
colorama==0.4.6
comm==0.2.3
confection==0.1.5
configobj==5.0.9
contourpy==1.3.3
coverage==7.13.1
cryptography==46.0.3
cvxpy==1.7.5
cycler==0.12.1
cymem==2.0.13
databricks-cli==0.18.0
databricks-sdk==0.76.0
debugpy==1.8.19
decorator==5.2.1
defusedxml==0.7.1
deprecation==2.1.0
dictdiffer==0.9.0
diskcache==5.6.3
distro==1.9.0
docker==6.1.3
docutils==0.21.2
dpath==2.2.0
dulwich==0.25.0
dvc==3.65.0
dvc-data==3.17.0
dvc-http==2.32.0
dvc-objects==5.2.0
dvc-render==1.0.2
dvc-studio-client==0.22.0
dvc-task==0.40.2
dynaconf==3.2.12
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
entrypoints==0.4
evidently==0.7.18
exceptiongroup==1.3.1
executing==2.2.1
fairlearn==0.13.0
Faker==39.0.0
fastapi==0.128.0
fastapi-restful==0.6.0
fastjsonschema==2.21.2
filelock==3.20.1
Flask==3.1.2
flask-cors==6.0.2
flatbuffers==25.12.19
flatten-dict==0.4.2
flufl.lock==8.2.0
fonttools==4.61.1
fqdn==1.5.1
frozenlist==1.8.0
fsspec==2025.12.0
funcy==2.0
gast==0.7.0
gitdb==4.0.12
GitPython==3.1.45
google-ai-generativelanguage==0.6.15
google-api-core==2.28.1
google-api-python-client==2.187.0
google-auth==2.45.0
google-auth-httplib2==0.3.0
google-genai==1.56.0
google-pasta==0.2.0
googleapis-common-protos==1.72.0
grandalf==0.8
graphene==3.4.3
graphql-core==3.2.7
graphql-relay==3.2.0
greenlet==3.3.0
grpcio==1.76.0
grpcio-status==1.62.3
gto==1.8.0
h11==0.16.0
h5py==3.15.1
httpcore==1.0.9
httplib2==0.31.0
httptools==0.7.1
httpx==0.27.0
huey==2.5.5
hydra-core==1.3.2
idna==3.11
igraph==1.0.0
ImageIO==2.37.2
imagesize==1.4.1
importlib_metadata==7.2.1
inFairness==0.2.3
iniconfig==2.3.0
ipykernel==7.1.0
ipympl==0.9.8
ipython==9.8.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.8
isoduration==20.11.0
iterative-telemetry==0.0.10
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.3
json5==0.12.1
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.7.0
jupyter_core==5.9.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.5.1
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
jupyterlab_widgets==3.0.16
keras==3.13.0
kiwisolver==1.4.9
kombu==5.6.1
langcodes==3.5.1
lark==1.3.1
lazy_loader==0.4
libclang==18.1.1
lightgbm==4.6.0
lime==0.2.0.1
litestar==2.19.0
litestar-htmx==0.5.0
lxml==5.1.0
Mako==1.3.10
Markdown==3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.8
matplotlib-inline==0.2.1
mdurl==0.1.2
mistune==3.2.0
ml_dtypes==0.5.4
mlflow==3.8.1
mlflow-skinny==3.8.1
mlflow-tracing==3.8.1
mlxtend==0.23.4
mpmath==1.3.0
msgspec==0.20.0
multidict==6.7.0
multipart==1.3.0
murmurhash==1.0.15
mypy_extensions==1.1.0
namex==0.1.0
narwhals==2.14.0
nbclient==0.10.4
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.6.1
nltk==3.9.2
notebook==7.5.1
notebook_shim==0.2.4
numpy==1.26.4
oauthlib==3.3.1
omegaconf==2.3.0
opentelemetry-api==1.39.1
opentelemetry-proto==1.39.1
opentelemetry-sdk==1.39.1
opentelemetry-semantic-conventions==0.60b1
opt_einsum==3.4.0
optree==0.18.0
orjson==3.11.5
osqp==1.0.5
packaging==25.0
pandas==2.3.3
pandocfilters==1.5.1
parso==0.8.5
pathspec==0.12.1
patsy==1.0.2
pillow==12.0.0
platformdirs==4.5.1
plotly==5.24.1
pluggy==1.6.0
polyfactory==3.2.0
POT==0.9.6.post1
preshed==3.0.12
prometheus_client==0.23.1
prompt_toolkit==3.0.52
propcache==0.4.1
proto-plus==1.27.0
protobuf==5.29.5
psutil==5.9.8
pure_eval==0.2.3
pyarrow==22.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
pydantic==2.9.0
pydantic_core==2.23.2
pydeck==0.9.1
pydot==4.0.1
pygit2==1.19.0
Pygments==2.19.2
pygtrie==2.5.0
PyJWT==2.10.1
pyparsing==3.3.1
pytest==9.0.2
pytest-cov==7.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-json-logger==4.0.0
python-multipart==0.0.21
pytz==2025.2
pywin32==311
pywinpty==3.0.2
PyYAML==6.0.3
pyzmq==27.1.0
querystring-parser==1.2.4
referencing==0.37.0
regex==2025.11.3
requests==2.32.5
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==14.2.0
rich-click==1.9.5
roman-numerals==4.1.0
roman-numerals-py==4.1.0
rpds-py==0.30.0
rpy2==3.6.4
rpy2-rinterface==3.6.3
rpy2-robjects==3.6.3
rsa==4.9.1
ruamel.yaml==0.18.17
ruamel.yaml.clib==0.2.15
scikit-image==0.26.0
scikit-learn==1.8.0
scipy==1.15.3
scmrepo==3.6.0
scs==3.2.10
seaborn==0.13.2
semver==3.0.4
Send2Trash==1.8.3
setuptools==80.9.0
shellingham==1.5.4
shortuuid==1.0.13
shtab==1.8.0
six==1.17.0
skorch==1.3.1
smart-open==6.4.0
smmap==5.0.2
sniffio==1.3.1
snowballstemmer==3.0.1
soupsieve==2.8.1
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
Sphinx==8.2.3
sphinx-rtd-theme==3.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.45
sqlparse==0.5.5
sqltrie==0.11.2
srsly==2.5.2
stack-data==0.6.3
starlette==0.50.0
statsmodels==0.14.6
streamlit==1.52.2
sympy==1.14.0
tabulate==0.9.0
tenacity==9.1.2
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
termcolor==3.3.0
terminado==0.18.1
texttable==1.7.0
thinc==8.2.5
threadpoolctl==3.6.0
tifffile==2025.12.20
tinycss2==1.4.0
toml==0.10.2
tomlkit==0.13.3
torch==2.9.1
tornado==6.5.4
tqdm==4.67.1
traitlets==5.14.3
typer==0.9.4
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
ujson==5.11.0
uri-template==1.3.0
uritemplate==4.2.0
urllib3==2.6.2
uuid6==2025.0.1
uvicorn==0.40.0
vine==5.1.0
voluptuous==0.16.0
waitress==2.1.2
wasabi==1.1.3
watchdog==6.0.0
watchfiles==1.1.1
wcwidth==0.2.14
weasel==0.3.4
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.9.0
websockets==15.0.1
Werkzeug==3.1.4
wheel==0.45.1
widgetsnbextension==4.0.15
wrapt==2.0.1
xgboost==3.1.2
yarl==1.22.0
zc.lockfile==4.0
zipp==3.23.0